<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login || Tu Vehiculo Ideal</title>
    <link rel="stylesheet" href="../css/master.css">
</head>
<body>
    <main class="login loginInmo" id="home">
        <h2>La motocicleta de tus sueños</h2>
        <p>Ingresa Su Usuario y Contraseña</p>
        <form action="../../Controllers/iniciarSesion.php" method="post">
            <input name="email" type="email" placeholder="Correo Electrónico" required>
            <input name="clave" type="password" placeholder="Contraseña" required>
            <button type="submit">Ingresar</button>

        </form>

        <a class="botonVolver" href="../../index.html" >Volver</a>
        
    </main>
</body>
</html>
